# Sensitive files
essentialfiles/config_local.txt
essentialfiles/config_live.txt

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

# Dependency directories
vendor/
node_modules/

# Personal files
*.jpg
*.png
*.xlsx